@import '../stylesheets/constants'

div.attendance_report_controls
  span.employee_select_container
    display: inline
    width: 30%
    select
      display: inline

  .selectize-dropdown
    width: 600px !important
    display: inline