nav.navigation
  background-color: #f2f2f2
  div.navigation-logo
    padding: 0.25em
    padding-right: 2.5em
    border-right: $SECONDARY_COLOR thin solid
  div.navigation-search
    input.navigation-search-input
      width: 50%
  div.navigation-menu-button
    .menu_button
      background-color: $SECONDARY_COLOR
      color: white
      width: 100%
      &:hover
        background-color: darken($SECONDARY_COLOR, 20%)
  div.navigation-login-indicator