.resource_heading
  text-transform: uppercase
  padding: 2em
  span.resource_glyphicon
    font-size: 5em
    padding: 0.5em
    color: white
    background-color: #666666
  h1.resource_title_heading
    font-family: "Roboto Medium", "Arial"
    letter-spacing: 0.05em
    margin-top: 0.5em
    margin-bottom: 0
  div.resource_sub_heading
    @extend %generic_sub_heading