.resource_search_interface
  float: right
  width: 50%
  padding: 0.25em
  .search_bar
  span
    button.search_button
      color: white
      font-size: 13px
      background-color: $SECONDARY_FONT_COLOR
