.resource_heading
  text-transform: uppercase
  float: left
  span.resource_glyphicon
    width: 50%
  h1.resource_title_heading
    font-family: "Roboto Medium", "Arial"
    margin-bottom: 0.05em
    letter-spacing: 0.05em
  div.resource_sub_heading
    @extend %generic_sub_heading