@import '../stylesheets/constants'

div.report_controls
  div.control_cell
    float: left
    span
      float: left
      padding-left: 0.5em
      padding-right: 0.5em
    div.selectize-input
      width: 30em