div.main_display
  div.wizard_heading
    padding-left: 0.5em
    div.wizard_progress_bar
      div.progress_cell
        margin: 0.25em
        border-bottom: solid gainsboro thick
        display: inline-block
  div.wizard_content