@import '../stylesheets/constants'

div.attendance_grid
  table
    tbody
      tr
        td.employee_cell
          padding: 0.5em
          float: right
        td.attendance
          border: white thin solid
          padding: 0.2em
        td.exact
          background: lightgreen
        td.shifted
          background: cyan
        td.undertime
          background: violet
        td.overtime
          background: gold
        td.no_record
          background: indianred
        div.attendance_cell
          color: white

div.legend_table
  margin-top: 0.5em
  padding-left: 0.5em
  width: 100%
  table
    width: 50%
    color: white
    tr
      td
        padding: 0.5em
      td.legend
        background: darkgray
      td.exact
        background: lightgreen
      td.shifted
        background: cyan
      td.undertime
        background: violet
      td.overtime
        background: gold
      td.no_record
        background: indianred

div.branch_statistics
  margin-top: 0.5em