@import '../stylesheets/constants'

@mixin attendance_cell_status
  float: left
  margin: 0.5em
  img, div.resource_glyphicon
    width: 5em
    margin: 0.5em
    float: left
  a
    float: left
    margin: 0.5em

@mixin elementary_border
  border: solid $QUATERNARY_COLOR thin

div.employee_attendance_cell_present
  @include elementary_border
  border-left: solid green thick
  @include attendance_cell_status

div.employee_attendance_cell_absent
  @include elementary_border
  border-left: solid red thick
  @include attendance_cell_status

div.employee_attendance_cell_late
  @include elementary_border
  border-left: solid yellow thick
  @include attendance_cell_status

div.attendance_grid
  overflow-x: auto
  table
    thead
      tr
        th
          div.title_attendance
            font-weight: normal
            margin-right: 0.5em
            border-bottom: solid $QUATERNARY_COLOR thin
            padding: 0.5em
    tbody
      tr
        td.employee_cell
          padding: 0.5em
          float: right
        td.attendance
          border: white thin solid
          padding: 0.2em
        td.exact
          background: lightgreen
        td.shifted
          background: cyan
        td.undertime
          background: violet
        td.overtime
          background: gold
        td.no_record
          background: indianred
        div.attendance_cell
          color: white

div.attendance_legend
  width: 100%
  border-left: darkgray solid thick
  padding-left: 0.5em
  margin: 0.5em
  span.legend
    padding-right: 0.5em
    padding-left: 0.5em
    color: white
  span.exact
    background: lightgreen
  span.shifted
    background: cyan
  span.undertime
    background: violet
  span.overtime
    background: gold
  span.no_record
    background: indianred

div.branch_statistics
  margin: 0.5em
  span.stat
    padding-left: 0.5em
    padding-right: 0.5em
    border-left: darkgray solid thick