div = result.id
div = result.system_account.name
div #{date_of_birth}
hr
div = result.description
br
div Mother : #{result.name_of_mother}
br
div Father : #{result.name_of_father}
br
div Dependents : #{result.dependents}
hr
div
  span #{result.complexion + ', '}
  span #{result.height + ', '}
  span #{result.sex + ', '}
  span #{result.blood_type}