div =result.type_name
div #{result.base_multiplier.to_s + ' | ' + result.overtime_multiplier.to_s + ' | ' + result.rest_day_multiplier.to_s + ' | ' + result.overtime_rest_day_multiplier.to_s }
div =result.remark
div =result.decorate.implemented_on