- if controller.action_name == 'index'
    div.form_title #{ ('ADD ' + controller_name.to_s.singularize.capitalize + ' Form').upcase }
- else
    div.form_title #{ (controller.action_name + ' ' + controller_name.to_s.singularize.capitalize + ' Form').upcase }