div.resource_item_options
  a.btn.btn-default.btn-xs.fa.fa-eye href='#{@main_resource_path + '/' + result.id}'
  a.btn.btn-default.btn-xs.fa.fa-pencil href='#{@main_resource_path + '/' + result.id + '/edit'}'
  a.btn.btn-default.btn-xs.fa.fa-trash href='#{@main_resource_path + '/' + result.id}' data-method="DELETE"