p This wizard will setup a contactable entity with articles of contact information such as addresses, telephone numbers and other digital contact assets.

p Please choose the entity you would like to attach contact details for:

a.btn.btn-default href='#{next_wizard_path + '?mother_model=new_system_account'}' NEW SYSTEM ACCOUNT
span &nbsp;
a.btn.btn-default href='#{next_wizard_path + '?mother_model=existing_system_account'}' EXISTING SYSTEM ACCOUNT
span &nbsp;
a.btn.btn-default href='#{next_wizard_path + '?mother_model=new_branch'}' NEW BRANCH
span &nbsp;
a.btn.btn-default href='#{next_wizard_path + '?mother_model=existing_branch'}' EXISTING BRANCH
span &nbsp;