p This wizard will setup a contactable entity with articles of contact information such as addresses, telephone numbers and other digital contact assets.

a.btn.btn-default href='#{wizard_path(:setup_system_account)}' NEW SYSTEM ACCOUNT
span &nbsp;
a.btn.btn-default href='#{wizard_path(:setup_branch)}' NEW BRANCH