$NORTH_SEA_PARTS_RED: #660000
$PRIMARY_COLOR: $NORTH_SEA_PARTS_RED
$PRIMARY_FONT_COLOR: #666666
$SECONDARY_FONT_COLOR: #404040

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto)

%generic_sub_heading
  font-family: "Verdana"
  font-size: 0.75em
  letter-spacing: 0.05em

html
  font-family: Verdana, Arial
  font-size: 14px

body
  background-image: url("grid.png")
  background-repeat: repeat
  color: $PRIMARY_FONT_COLOR

.container-fluid
  vertical-align: text-bottom

hr.hidden_spacer
  visibility: hidden
