// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto)

$NORTH_SEA_PARTS_RED: #660000
$PRIMARY_COLOR: $NORTH_SEA_PARTS_RED
$SECONDARY_COLOR: #BFBFBF
$TERTIARY_COLOR: #666666
$QUATERNARY_COLOR: gainsboro

%font_set_one
  font-family: "Verdana"
  font-size: 0.75em
  letter-spacing: 0.05em

%font_set_two
  text-transform: uppercase
  font-family: "Roboto Medium", "Arial"
  letter-spacing: 0.05em
  color: $TERTIARY_COLOR

html
  font-family: Verdana, Arial
  font-size: 14px

body
  background-image: url('/assets/grid.png')
  background-repeat: repeat
  color: $TERTIARY_COLOR

.container-fluid
  vertical-align: text-bottom

.form-control:focus
  border-color: $SECONDARY_COLOR
  box-shadow: inset 0 1px 1px $SECONDARY_COLOR, 0 0 8px $SECONDARY_COLOR

hr.hidden_spacer
  visibility: hidden

a:link
  text-decoration: none
  color: inherit

a:visited
  text-decoration: none
  color: inherit

a:hover
  text-decoration: none
  color: inherit

a:active
  text-decoration: none
  color: inherit

.btn-default
  border-radius: 0
  background-color: $TERTIARY_COLOR
  color: white
  &:hover
    background-color: darken($TERTIARY_COLOR, 20%)
