@import 'constants'

div.report_main_content
  padding: 1em

  div.row

    h1.report_title_display
      text-transform: uppercase
      border-left: solid #8e8e8e thick
      padding-left: 0.25em
      font-weight: 600
      color: #8e8e8e

    div.report_controls
      div.control_cell
        vertical-align: middle
        float: left
        margin-right: 0.5em
        span
          float: left
          margin-right: 0.5em
        div.selectize-input
          width: 30em
        input.report_submit
          margin-left: 1em
          padding-left: 1em

