@import 'constants'
@import 'shared_controller_styles'

div.note
  padding: 0.25em
  padding-left: 1em
  margin-top: 0.5em
  border-left: solid darkgray thick

h1.report_title_display
  text-transform: uppercase
  border-left: solid #8e8e8e thick
  padding-left: 0.25em
  font-weight: 600
  color: #8e8e8e


