div.resource_search_interface.input-group
  input.form-control.search_bar type='text' placeholder=' Search #{controller_name.humanize.titleize} '
  span.input-group-btn
    button.btn.btn-default.search_button type="button" ="&#128197;".html_safe