@import "typeahead"
@import "constants"
@import "../stylesheets/constants"

div.add_form_modal
  .form_title
    @extend %font_set_two

div.resource_display
  @extend %RESOURCE_DISPLAY

  div.resource_navigation
    @extend %RESOURCE_NAVIGATION

    @import "title"

    div.sort_by
      @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET
      select
        margin: 0.25em

    div.page_entries_info
      @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET

    div.button_options
      button.resource_button_option
        @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET

    div.paginator
      @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET
      nav.pagination
        background-color: $TERTIARY_COLOR
        color: white
        margin: 0
        border-radius: 0
        padding: 0.5em
        a
          %font_set_one
          color: white

    div.view_type
      @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET
      border-top: solid gray thin
      border-bottom: solid gray thin
      div
        float: left
        padding: 1em
        width: 50%

    div.results_per_page
      @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET

  div.resource_representation
    float: right
    div.grid
      border: solid gainsboro thin
      padding: 0.5em
      a
        %GRID_ITEM_ACTIVE
          border-color: $TERTIARY_COLOR

        div.grid-item
          width: 23%
          float: left
          border: solid gainsboro thin
          padding: 0.5em
          margin: 0.25em
          color: $TERTIARY_COLOR

          div.resource_glyphicon
            @extend %RESOURCE_GLYPHICON_INVERT

          &:hover
            @extend %GRID_ITEM_ACTIVE

        div.grid-item.is-dragging
          @extend %GRID_ITEM_ACTIVE
        div.grid-item.is-positioning-post-drag
          @extend %GRID_ITEM_ACTIVE

    table.resource_table
      width: 100%
      thead
        tr
          th
            overflow: hidden
            white-space: nowrap
            div
              border-bottom: solid $TERTIARY_COLOR medium
              margin-right: 0.5em
      tbody
        tr
          &:hover
            background-color: #BBBBBB
            color: white
          td
            padding: 0.5em
    div.no_results_message
