@import "../../constants"

%RESOURCE_GLYPHICON_INVERT
  font-size: 3em
  color: $TERTIARY_COLOR
  background-color: white
  padding: 0.5em

div.main_content
  div.grid
    border: solid gainsboro thin
    padding: 0.5em
    a
      %GRID_ITEM_ACTIVE
        border-color: $TERTIARY_COLOR

      div.grid-item
        width: 23%
        float: left
        border: solid gainsboro thin
        padding: 0.5em
        margin: 0.25em
        color: $TERTIARY_COLOR

        div.resource_glyphicon
          @extend %RESOURCE_GLYPHICON_INVERT

        &:hover
          @extend %GRID_ITEM_ACTIVE

      div.grid-item.is-dragging
        @extend %GRID_ITEM_ACTIVE
      div.grid-item.is-positioning-post-drag
        @extend %GRID_ITEM_ACTIVE

  table.resource_table
    width: 100%
    thead
      tr
        th
          overflow: hidden
          white-space: nowrap
          div
            border-bottom: solid $TERTIARY_COLOR medium
            margin-right: 0.5em
    tbody
      tr
        &:hover
          background-color: #BBBBBB
          color: white
        td
          padding: 0.5em
  div.no_results_message

