@import "main"

%RESOURCE_NAVIGATION_ELEMENT_OFFSET
  margin-top: 0.5em

div.sort_by
  @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET
  select
    margin: 0.25em

div.page_entries_info
  @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET

div.button_options
  color: white
  a
    border-bottom: solid medium lighten($TERTIARY_COLOR, 5%)
  a:last-child
    border-bottom: none

nav.pagination
  span.page
    margin: 0.25em
    border: solid thin gray
    padding: 0.25em
  span.current

div.view_type
  @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET
  border-top: solid gray thin
  border-bottom: solid gray thin
  div
    float: left
    padding: 1em
    width: 50%

div.results_per_page
  @extend %RESOURCE_NAVIGATION_ELEMENT_OFFSET