/ Main Navigation Bar

/ followed Bootstrap 4 documentation on how to implement a navigation bar
nav.navbar.navbar-light.navbar-toggleable-md.navbar-fixed-top.bg-faded.main_navigation_bar

  / logo (2 columns)
  a.navbar-brand.col-md-2 href='#{root_path}'
    = image_tag('nav_bar_header.png')

  / default button if screen is too small; collapses the collapsible portion
  button.navbar-toggler type='button' data-toggle='collapse' data-target='#main_navigation_bar' aria-controls='main_navigation_bar'
    span.navbar-toggler-icon

  / Search Bar for Generic Resource Controllers
  - if ApplicationController.current.class < GenericResourceController
    form.form-inline.col-md-4 method='get' action='#{@main_resource_path}'
      input.form-control.typeahead.generic_resource_search_bar id='search_query' name='search_query' type='text' placeholder='#{ '&#x25ba;'.html_safe } LOOK FOR #{controller_name.humanize.titleize} '
      input.hidden_submit type="submit"
      = javascript_include_tag 'generic_resource/search_suggestions'

  / collapsible portion
  div.collapse.navbar-collapse id='main_navigation_bar'\

  ul.nav.navbar-nav.user_navigation_elements

    / enterprise menu button
    - if user_signed_in?
      div.enterprise_menu_button
        button.btn.btn-default.menu_button
          i.fa.fa-modx aria-hidden="true"
          span &nbsp; ENTERPRISE MENU

    / log-in or log-out
    - if user_signed_in?
      li.nav-item.pull-xs-right.ml-2
        a.btn.btn-default href='#{edit_user_registration_path}'
          = current_user.system_account.name
      li.nav-item.pull-xs-right.ml-2
        a.btn.btn-default rel='nofollow' data-method="delete" href='#{destroy_user_session_path}' title="Sign Out"
          i.fa.fa-sign-out aria-hidden="true"

    / signup and registration
    - else
      li.nav-item.pull-xs-right.ml-2
        a.btn.btn-default href='#{new_user_session_path}'
          i.fa.fa-sign-in aria-hidden="true"
          span &nbsp; SIGN-IN
      li.nav-item.pull-xs-right.ml-2
        a.btn.btn-default href='#{new_user_registration_path}'
          i.fa.fa-check aria-hidden="true"
          span &nbsp; REGISTER

ruby:
  main_enterprise_array = [
          ['universal-access',enterprise_human_resources_path,'human_resources',true, [
                  ['id-card', enterprise_human_resources_employee_accounts_management_path, 'employee_accounts_management', true, [
                          ['vcard', enterprise_human_resources_employee_accounts_management_new_employee_wizard_index_path, 'new_employee_wizard', nil],
                          [EmployeeStatus],
                          [Employee],
                          [Biodatum]
                  ]],
                  ['twitch', enterprise_human_resources_attendance_path, 'attendance', true, [
                          ['user-circle', enterprise_human_resources_attendance_employee_attendance_report_path, 'employee_attendance_report', nil],
                          [RestDay],
                          [RegularWorkPeriod],
                          [Holiday],
                          [AttendanceRecord]
                  ]],
                  ['yelp', enterprise_human_resources_payroll_path, 'payroll', true, [
                          [DayScheme],
                          ['info', enterprise_human_resources_payroll_vales_management_path, 'vales_management', nil],
                          [Vale],
                          [ValeAdjustment]
                  ]]
          ]],
          ['building-o',enterprise_accounting_and_finance_path,'accounting_and_finance',true, [
                  ['university', enterprise_accounting_and_finance_financial_institutions_path, 'financial_institutions', true, [
                          [Bank],
                          [BankAccount]
                  ]],
                  ['etsy', enterprise_accounting_and_finance_expenses_path, 'expenses', true, [
                          [ExpenseAssignment],
                          [ExpenseCategory],
                          [ExpenseEntry],
                          [ExpenseAuthorization]
                  ]],
                  [ExchangeMedium.glyphicon, enterprise_accounting_and_finance_exchange_media_path, 'exchange_media', true, [
                          [BankTransfer],
                          [Cash],
                          [Check],
                          ['etsy',enterprise_accounting_and_finance_expenses_expense_report_path,'Expense Report',false],
                          ['etsy',enterprise_accounting_and_finance_expenses_examine_expense_path,'Specific Expense Report',false],
                          ['etsy',enterprise_accounting_and_finance_expenses_asset_expenditures_path,'Asset Expenditures',false],
                          ['etsy',enterprise_accounting_and_finance_expenses_authorization_desk_path,'Authorization Desk',false],
                          ['etsy',enterprise_accounting_and_finance_expenses_request_expense_wizard_index_path,'Request for Expense',false],
                          ['etsy',enterprise_accounting_and_finance_expenses_express_expense_wizard_index_path,'Express Expense',false]
                  ]],
                  [Vendor],
                  [Payment]
          ]],
          ['maxcdn',enterprise_general_management_path,'general_management',true, [
                  [ContactDetail.glyphicon, enterprise_general_management_contact_details_path, 'contact_details', true, [
                          ['gg', enterprise_general_management_contact_details_contact_wizard_index_path, 'contact_wizard', nil],
                          [TelephoneNumber],
                          [Location],
                          [Link]
                  ]],
                  [Vehicle],
                  [Branch],
                  [SystemAccount],
                  [SystemConstant],
                  [AssociatedFile],
                  [AssociatedImage]
          ]],
          ['codepen',enterprise_operations_path,'operations',true,[
                  ['info',enterprise_operations_greco_warehouse_path,'greco_warehouse',true, [
                          [GrecoItem],
                          [GrecoTransaction],
                          ['info',enterprise_operations_greco_warehouse_greco_current_stock_report_path,'Current Stock Report',false],
                          ['info',enterprise_operations_greco_warehouse_greco_out_of_stock_report_path,'Out of Stock Report',false]
                  ]],
                  ['info-circle',enterprise_operations_storage_management_path,'storage_management',true, [
                          [StorageUnit],
                          ['info',enterprise_operations_storage_management_storage_generator_path,'Storage Generator',nil]
                  ]]
          ]],
          ['share-alt',enterprise_strategic_marketing_path,'strategic_marketing',true,[]],
          ['ioxhost',enterprise_system_administration_path,'system_administration',true,[]],
  ]


// Dynamic Metro-Style Menu System; each segment corresponds to a state displayed onscreen
div.main_menu



  div.float-clearing
  br
  div.main_menu_controls
    button.btn.btn-default.back_menu_button
      = fa_icon 'level-up'
      = ' BACK ONE LEVEL'

    button.btn.btn-default.toggle_modules = 'SHOW ALL'
    input.navigation_menu_search placeholder= ' Search for Modules '

= javascript_include_tag 'navigation_bar', media: 'all'
